<nav class="navbar">
    <div class="navbar-content">
        <button class="back-btn" hx-get="/api/v2/categorias/raiz_activas" hx-swap="innerHTML" hx-target="#reemplazar" hx-trigger="click">
            ← Regresar
        </button>
        
        <div class="search-wrapper">
            <input type="text" name="q" autofocus placeholder="Buscar productos..." id="buscar-input"
                autocomplete="off" hx-get="/api/v2/productos/buscar" hx-swap="innerHTML" hx-target="#reemplazar"
                hx-trigger="keyup changed delay:500ms" hx-include="this">
        </div>
        
        <div id="cart-icon" class="cart-icon" onclick="sendCartToBackend()">
            <span style="color: white;" >🛒</span> 
            <span id="cart-count">0</span>
        </div>
    </div>
</nav>