<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/htmx.js"></script>
    <script src="/static/carrito.js"></script>
    <link rel="stylesheet" href="/static/style.css?v=9">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
    <title>Tu Market</title>
</head>

<body>
    <div id="header">
        {% include '_buscar.html' %}
    </div>
    <div id="reemplazar">
        {% include '_categorias.html' %}
    </div>
</body>

</html>
