<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/htmx.js"></script>
        <script src="/static/carrito.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Tu Market</title>
</head>

<body>
    <div id="todo-list">
        {% include '_buscar.html' %}
    </div>
    <div id="reemplazar">
        {% include '_categorias.html' %}
    </div>
</body>

</html>